VITE_SUPABASE_URL=https://sjzrfkdxscyumvplspqh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNqenJma2R4c2N5dW12cGxzcHFoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc5MzYwMTIsImV4cCI6MjA5MzUxMjAxMn0.FISX8hh6O14mDJlBOFjk7PsyahKNd15v2puvXMqZgtk
